@page
@model BolaoDaCopa2026.Models.Jogo
@{
    ViewData["Title"] = "Jogos da Copa";
}


<header>
    <h1>Jogos da Copa</h1>
</header>

<div class="container">

    <div class="fase">
        <h2>Fase de Grupos</h2>

        <div class="jogo aberto">
            <div class="times">
                <div class="time">
                    <img src="https://flagcdn.com/w40/br.png">
                    Brasil
                </div>
                <div class="vs">vs</div>
                <div class="time">
                    <img src="https://flagcdn.com/w40/ar.png">
                    Argentina
                </div>
            </div>

            <div class="info">
                <div>20/06/2026</div>
                <div>18:00</div>
            </div>

            <div class="acao">
                <button class="btn btn-apostar">Apostar</button>
            </div>
        </div>

    </div>

</div>
